body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  background-color: rgb(228, 232, 250);
}


.header {
  height: 250px;
  padding: 15px;
  color: rgb(77, 148, 202);
  background-image: url(../images/pexels-photo-461077.jpeg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  background-color: rgb(62, 83, 240);
  width: 100%;
  border-radius: 0px;
}

.headerHeadline{
  font-size: 50px;
  font-weight: 600;
  text-align: left;
}

ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container {
  margin-top: 10px;
  background-color: #FFF9E3;
  padding: 20px;
}

.bodyContainer{
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.container p{
  margin-top : 14px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li {
  float: left;
}  

p {
  font-size: 18px;
}

article {
    padding: 10px
}

h1{
  text-align: center;
  font-size: 40px
}

.linkPics{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects{
  background-color: #FFF9E3;
  margin: 20px;
  padding: 10px;
}

.projectPics{
  max-width:100%;
  height:auto;
}

.blazePhoto{
  max-width: 200px;
  height: auto;
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}

.md-padding{
  padding: 0px
}

md-nav-bar .md-nav-bar {
  background: rgb(255, 255, 255);
}

md-nav-bar-list .md-nav-bar-list {
  padding-left: 100px;
}

#cardDiv {
  margin: 0 auto;
}