<div class="bodyContainer" ng-cloak>
    <div class="headline">
        <h1>Why I switched careers</h1>
    </div>
    <article>
        <p>When I graduated from the University of Wisconsin-River Falls with a bachelors degree in journalism in 2011, I figured
            my life’s career path was set. Having enjoyed writing in high school, I thought a journalism career was the best
            way to write stories that would impact people’s lives on a daily basis.</p>

        <p>However, when you are 22 years old, you don't have a full grasp of how the demands of a career will impact your life.
            I spent the next five-plus years in journalism, working at community newspapers throughout Minnesota and Wisconsin.
            During that time, I transitioned from a news reporter to covering sports. While the work was rewarding, I often
            worked six or seven days a week while making a smaller salary than most of my friends with college degrees. Plus,
            after seeing some of my colleagues lose their jobs due to layoffs, I wondered if someday I might be facing unemployment
            myself.</p>

        <p>At the same time, I started to become fascinated with the seemingly magical process of writing software. After trying
            out coding myself through resources like Code Academy, I decided software development was a field I wanted to
            pursue.</p>

        <P>I have since completed my coursework at Prime Digital Academy, a coding boot camp located in the Twin Cities. I graduated
            with a Full Stack Software Engineering Certificate in January 2018. While I hope to continue working as a part-time
            freelance journalist, I am looking forward to starting my new career as a software developer. I can’t wait to
            see what I accomplish in the future.</p>
    </article>
</div>