<div class="bodyContainer" ng-cloak>
    <div class="headline">
        <h1>About Blaze</h1>
    </div>
    <article>

        <img src="../images/blazefugina.jpg" class="blazePhoto"/>
        <p>I am Blaze Fugina; a former journalist turned full-stack software developer. I specialize in developing software
            in the MEAN stack – MongoDB, Express, AngularJS, and Node.js. I also am experienced using SQL and jQuery.</p>

        <p>I decide to make a career switch to software development after more than five years working at newspapers in Minnesota
            and Wisconsin. I am a graduate of Prime Digital Academy, a programming boot camp based in the Twin Cities.</p>

        <p>Check out the Twitter, LinkedIn, GitHub and email links to contact me or find out more. Also, check out the portfolio
            link above for samples of my work.</p>
    </article>

    <div class="headline">
        <h1>Contact Blaze</h1>
    </div>
    <div class="Links" layout="row" layout-wrap>
        <div class="picLink" flex="25">
            <a href="https://twitter.com/blazefugina">
                <img class="linkPics" src="../images/twitterlogo.png" alt="Twitter Logo" class="picLink" style="width:42px;height:42px;">
            </a>
        </div>
        <div class="picLink" flex="25">
            <a href="https://www.linkedin.com/in/blaze-fugina/">
                <img class="linkPics" src="../images/linkedinlogo.png" alt="LinkedIn Logo" class="picLink" style="width:42px;height:42px;">
            </a>
        </div>
        <div class="picLink" flex="25">
            <a href="https://github.com/Blaze90809">
                <img class="linkPics" src="../images/github.png" alt="GitHub Logo" style="width:42px;height:42px;">
            </a>
        </div>
        <div class="picLink" flex="25">
            <a href="mailto:blaze.fugina@gmail.com">
                <img class="linkPics" src="../images/email.png" class="picLink" alt="Email Logo" style="width:42px;height:42px;">
            </a>
        </div>
    </div>
</div>