<div class="bodyContainer" ng-cloak>
    <div class="headline">
        <h1>Blaze's Projects</h1>
    </div>
    <md-content class="md-padding" >
        <!-- <div flex-xs flex-gt-xs="50" layout="column"> -->
            <md-card>
                <img ng-src="{{pc.footprintPath}}" class="md-card-image, cardImg" alt="Project Footprint">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Project Footprint</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>The Footprint environmental impact calculator is a full-stack application that
                        gives organizations the opportunity to upload their data and view a timeline-based breakdown
                        of carbon emissions. Project Footprint was a group project created by Blaze and Prime students
                        Zack Stout, Jaffa Aharanov and Holly Tuhake.</p>
                    <p>
                        <strong>Technologies Used:</strong> Node.js, Express.js, Angular.js, Angular Material, PostgreSQL, Heroku,
                        Chart.js, Passport.js
                    </p>
                    <md-button class="md-primary" ng-href="{{pc.footprintURL}}" target="_blank">Footprint Project URL</md-button>
                    <md-button class="md-primary" ng-href="{{pc.footprintGitHub}}" target="_blank">Footprint Project GitHub</md-button>
                </md-card-content>
            </md-card>
            <md-card>
                <img ng-src="{{pc.pitchAidPath}}" class="md-card-image, cardImg" alt="Pitch Aid">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Pitch Aid</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>Pitch Aid is a full-stack web application that gives fantasy baseball players a tool to monitor the starting
                        pitchers they use on their teams. The program enables users to enter their pitchers’ first and last
                        names and uses an API to fill in relevant Major League Baseball statistics. The pitcher statistics
                        are stored in MongoDB by ID, which means registered users only have the option to view the specific
                        pitchers they have entered.
                    </p>
                    <p>
                        <strong>Technologies Used:</strong> AngularJS, Express, Node.js, MongoDB, Mongoose, Angular Material, ES6,
                        MySportsFeeds API
                    </p>
                    <md-button class="md-primary" ng-href="{{pc.pitchAidURL}}" target="_blank">Pitch Aid URL</md-button>
                    <md-button class="md-primary" ng-href="{{pc.pitchAidGitHub}}" target="_blank">Pitch Aid GitHub</md-button>
                </md-card-content>
            </md-card>
        <!-- </div>
        <div flex-xs flex-gt-xs="50" layout="column"> -->
            <md-card>
                <img ng-src="{{pc.kioskPath}}" class="md-card-image, cardImg" alt="Kiosk App">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Kiosk App</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        This Kiosk application is written to match a touch-screen kiosk that allows customers to purchase items. The full-stack application
                        stores products in a Mongo database and utilizes GET routes to display items by category. The program
                        is written using the MEAN stack - Mongo, Express, AngularJS, and Node.js.
                    </p>
                    <p>
                        <strong>Technologies Used:</strong> AngularJS, Express, Node.js, MongoDB
                    </p>
                    <md-button class="md-primary" ng-href="{{pc.kioskURL}}" target="_blank">Kiosk App URL</md-button>
                    <md-button class="md-primary" ng-href="{{pc.kioskGitHub}}" target="_blank">Kiosk App GitHub</md-button>
                </md-card-content>
            </md-card>

            <md-card>
                <img ng-src="{{pc.percentBackPath}}" class="md-card-image, cardImg" alt="Percent Back">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Percent Back Application</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        This Percent Back application gives cross-country skiers a program to help track and anaylize results. The application takes
                        information from completed races and calculates percent-back from the leader. Users have the opportunity
                        to view results in a table. This program was written with React, Express, Node.js and MongoDB.
                    </p>
                    <p>
                        <strong>Technologies Used:</strong> React, Express, Node.js, MongoDB
                    </p>
                    <md-button class="md-primary" ng-href="{{pc.percentBackURL}}" target="_blank">Percent Back URL</md-button>
                    <md-button class="md-primary" ng-href="{{pc.percentBackGitHub}}" target="_blank">Percent Back GitHub</md-button>
                </md-card-content>
            </md-card>
        <!-- </div> -->
    </md-content>
</div>